---
layout: default
title: Events
suppress_header: true
description: Where you'll find information on the GitLab happenings circuit
canonical_path: "/events/"
small_video_titles: true
extra_css:
  - events.css
  - video-carousel.css
extra_js:
  - events.js
  - libs/slick.min.js
  - video-carousel.js
extra_font:
  - Roboto+Slab
---

%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"}
%link{:rel => "stylesheet", :href => "https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"}

-# THE CONTENT FOR THIS PAGE IS IN https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/data/events.yml

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1
      GitLab Events
    %p
      GitLab is The DevOps Platform that empowers organizations to maximize the overall return on software development. Join an event to learn how your team can deliver software faster and efficiently, while strengthening security and compliance. We'll be
      attending, hosting, and running numerous events in #{Date.today.year},
      and cannot wait to see you there!

.featured-events-wrapper.text-center
  %h3.featured-events-label 🌟 Featured events
  .featured-events-container
    - data.events.each do |featured_event|
      - fe_date_ends = Date.parse(featured_event.date_ends)
      - if featured_event.featured && fe_date_ends >= Date.today
        - if featured_event.url
          %a.featured-event{ href: "#{featured_event.url}", :"data-ga-name" => featured_event.ga_name, :"data-ga-location" => featured_event.ga_location }
            .tile-resource
              .tile-background-container{ style: "background-image: url('#{featured_event.featured.background}');" }
              .tile-info
                %p.tile-date
                  = featured_event.date_starts
                %h3
                  = featured_event.topic
                - if featured_event.url
                  %p.tile-link
                    Join us
                    %i.fas.fa-arrow-right
                - else
                  %p.tile-link
                    Join us
                    %i.fas.fa-arrow-right
        - else
          %a.featured-event{ href: "#{featured_event.event_url}", :"data-ga-name" => featured_event.ga_name, :"data-ga-location" => featured_event.ga_location }
            .tile-resource
              .tile-background-container{ style: "background-image: url('#{featured_event.featured.background}');" }
              .tile-info
                %p.tile-date
                  = featured_event.date_starts
                %h3
                  = featured_event.topic
                - if featured_event.url
                  %p.tile-link
                    Join us
                    %i.fas.fa-arrow-right
                - else
                  %p.tile-link
                    Join us
                    %i.fas.fa-arrow-right

.container.u-margin-top-40
  %h3.u-margin-bottom-sm.text-center
    Event videos
  .video-slider
    - data.video_carousel.each do |video|
      -if video.carousel_identifier.include?("Events Carousel 1")
        = partial "includes/components/video-carousel/video-item", locals: {name: video.name, title: video.title, company: video.company, photourl: video.photourl, videolink: video.video_link, video_title_size: "h5"}

- data.video_carousel.each do |video|
  -if video.carousel_identifier.include?("Events Carousel 1")
    = partial "includes/components/video-carousel/video-carousel-modal", locals: {videolink: video.video_link, title: video.title, photourl: video.photourl}

.container.text-center
  %h1 Upcoming events
  %br

.filters-container
  .dropdown#event-types
    %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
      .dropdown-title
      %i.fa.fa-chevron-down
    %ul.dropdown-menu.dropdown-scroll
  .dropdown.level#event-location
    %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
      .dropdown-title
      %i.fa.fa-chevron-down
    %ul.dropdown-menu.dropdown-scroll
  .dropdown#event-region
    %button.dropdown-menu-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
      .dropdown-title
      %i.fa.fa-chevron-down
    %ul.dropdown-menu.dropdown-scroll
%ul.tile#event-list{role: "navigation"}
  - Gitlab::Homepage::Event.all!.sort.each do |event|
    - ev_date_ends = Date.parse(event.date_ends)
    - ev_date_starts = Date.parse(event.date_starts)
    - if ev_date_ends >= Date.today
      %li{ data: { region: event.region || 'Other', type: event.type || '' , location: event.location || '' } }
        .event-headers.flex-wrap-md
          %h3.event-topic
            = event.type == 'Diversity' ? '(Diversity Sponsorship) ' + event.topic : event.topic
          %h3.event-date
            - if event.date_starts == event.date_ends
              = event.date_ends
            - else
              = event.date_starts + ' - ' + event.date_ends
        .event-subheaders.flex-wrap-md
          .event-description
            - if event.type == 'Diversity'
              %p
                This event is being supported through a GitLab diversity sponsorship, with no GitLab-specific content.
            - else
              = kramdown(event.description)

          .event-location 
            %p
              = succeed ',' do
                = event.location
              = event.region
        .social-tags.visible-xs-block
          - event.social_tags&.split(',')&.each do |tag|
            %a.social-tag{ href: "https://www.twitter.com/hashtag/#{tag}", target: "_blank" }
              %i.fab.fa-twitter
              = "##{tag}"
        .event-buttons.flex-wrap-md
          .social-tags.hidden-xs
            - event.social_tags&.split(',')&.each do |tag|
              %a.social-tag{ href: "https://www.twitter.com/hashtag/#{tag}", target: "_blank" }
                %i.fab.fa-twitter
                = "##{tag}"
          - if event.url
            %a.btn.cta-btn.accent{href:event.url, :"data-ga-name" => event.topic, :"data-ga-location" => "body"} Join Us!
          - else
            - if event.event_url.nil?
              %button.btn.cta-btn.btn-disabled
                - if event.type == 'Diversity'
                  Come visit!
                - else
                  Coming soon!
            - else
              %a.btn.cta-btn.accent{href:event.event_url, :"data-ga-name" => event.topic, :"data-ga-location" => "body"}
                - if event.type == 'Diversity'
                  Come visit!
                - else
                  Join Us!
.center-horizontal
  %nav
    %ul#pagination
      %li
        %button.btn#previous-event-page-button
          Prev
      %li#next-event-page
        %button.btn#next-event-page-button
          Next
.rad-event-container
  .tile.rad-event
    %h3
      Know about an amazing event we should be at?
    %p
      We'd love to help you
    %a.btn.cta-btn.orange{type:"button", href:"/speakers/", :"data-ga-name" => "speakers", :"data-ga-location" => "body"}
      Find a Speaker
